.headline-data {

    md-card {

        color: white;

        md-card-title-text {
            font-size: 30px;
        }
        md-card-title-media {
            i {
                font-size: 70px;
                width: 1em;
                text-align: center;
            }
        }
        md-card-content {
            .summary {
                    text-align: center;
                    padding: 20px;
                .title {
                    font-size: 24px;
                }
                .number {
                    .unit {
                        font-style: italic;
                    }
                    .value {
                        font-size: 60px;
                    }
                }

            }
        }
    }


}