
<md-toolbar id="graphControls" flex layout-padding class="md-menu-toolbar">
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>

        <md-input-container>
            <label>Units</label>
            <md-select ng-model="pc.params.unitIndex" ng-change="pc.convertData()">
                <md-option ng-repeat="unit in pc.units track by $index" value="{{$index}}">{{unit.name}}</md-option>
            </md-select>
        </md-input-container>

        <div class='input-divider'></div>

        <md-datepicker ng-model="pc.params.exportStartDate" md-placeholder="Start date"></md-datepicker>

        <md-datepicker ng-model="pc.params.exportEndDate" md-placeholder="End date"></md-datepicker>

        <md-input-container>
            <label>Resolution</label>
            <md-select ng-model="pc.params.resolution">
                <md-option ng-repeat="resolution in pc.resolutions" value="{{resolution.code}}">{{resolution.name}}</md-option>
            </md-select>
        </md-input-container>

        <md-button ng-click="pc.refreshData()" class="md-raised md-primary">Update</md-button>

        <md-checkbox ng-if="multisite == 0" ng-change="pc.toggleWeatherIcons()" ng-model="pc.params.drawWeatherIcons">Add weather data (experimental feature)</md-checkbox>

    </section>
</md-toolbar>

<md-toolbar ng-if="multisite == 1" id="graphControls" flex layout-padding class="md-menu-toolbar">
    <section layout="column" layout-sm="column" layout-align="center top" layout-wrap>
        <md-input-container>
            <md-checkbox ng-repeat="site in pc.sites" ng-click="pc.selectSite(site, selected)" ng-checked="pc.isSelected(site, selected)">{{site.name}}</md-checkbox>
            <md-button layout-align="center end" ng-click="pc.selectAll()" class="md-raised md-primary">Select all sites</md-button>
        </md-input-container>
    </section>
    <section layout="column" layout-sm="column" layout-align="center top" layout-wrap>
        <md-input-container>
            <md-checkbox ng-model="pc.params.normalise">Normalise by site capacity</md-checkbox>
            
        </md-input-container>
    </section>
</md-toolbar>