<md-content flex class="md-padding page-content">

    <ui-gmap-google-map center='mapc.mapParams.center' zoom='mapc.mapParams.zoom'>

        <ui-gmap-marker 
            coords="site.location"
            options="{labelContent: site.name, labelClass: 'map-label'}"
            events=""
            click="mapc.goToSite(site.shortcode)"
            idkey="site.shortcode"
            ng-repeat="site in mapc.siteData"
        >
        </ui-gmap-marker>

        <!-- could not get marker labels to work with this method -->
        <!-- <ui-gmap-markers
            labelClass="map-label"
            models='mapc.siteData'
            fit="1" 
            coords="'location'"           
            labelContent="'name'"
            click="mapc.goToSite(shortcode)"
            >
        </ui-gmap-markers> -->

    </ui-gmap-google-map>

</md-content>