
<md-content flex class="md-padding page-content headline-data">

    <h4 class="center bold md-display-1">{{headline.meta().site.name}} - Summary for {{headline.meta().duration.days}} days</h4>

    <div layout-xs="column" layout="row">

        <md-card class='bec-color-desaturated-cycle' ng-repeat="unit in headline.quantities.units | filter: { fixed: true }" flex-gt-xs>

            <md-card-title>
                <md-card-title-text>
                    <span>{{unit.name}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <i class="material-icons">{{unit.icon}}</i>
                </md-card-title-media>
            </md-card-title>


            <md-card-content layout="row">

                    <div flex layout="column" class='summary' ng-repeat="summary in headline.quantities.fixedUnitSummaries">
                        <div class='title'>
                            {{summary.name}} {{summary.appendPeriod ? headline.meta().period : ''}}
                        </div>
                        <div class='number'>
                            <span class='unit'>
                                {{unit.prefix}}
                            </span>
                            <span class='value'>
                                {{headline.getOriginalData() | extractDataSeries | applyFilter:summary.filter | convertUnits:unit.factor | sigFigs:3}}
                            </span>
                            <span class='unit'>
                               {{unit.suffix}}
                            </span>
                        </div>
                    </div>

            </md-card-content>

        </md-card>

    </div>

    <h4 class="center bold md-display-1">{{headline.meta().unit.name}} summary</h4>

    <div layout-xs="column" layout="row">

        <md-card class='bec-color-desaturated-cycle-2' ng-repeat="unit in headline.quantities.variableUnitSummaries" flex-gt-xs>

            <md-card-title>
                <md-card-title-text>
                    <span>{{unit.name}} {{unit.appendPeriod ? headline.meta().period : ''}}</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>

                <div class='summary'>
                    <div class='number'>
                        <span class='unit'>
                            {{headline.meta().unit.prefix}}
                        </span>
                        <span class='value'>
                            {{headline.getData() | extractDataSeries | applyFilter:unit.filter | sigFigs:3}}
                        </span>
                        <span class='unit'>
                           {{headline.meta().unit.suffix}}
                        </span>
                    </div>
                </div>

            </md-card-content>

        </md-card>

    </div>

</md-content>
