<!-- <h1 class="md-display-3">Headline Data</h1> -->

<md-content flex class="md-padding page-content">

    <div layout-xs="column" layout="row">
        
        <md-card ng-repeat="unit in headline.quantities.units | filter: { fixed: true }" flex-gt-xs>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline"><i class="material-icons md-36">{{unit.icon}}</i> {{unit.name}}</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>

                <div ng-repeat="summary in headline.quantities.fixedUnitSummaries">
                    {{summary.name}} {{unit.prefix}} {{headline.originalData() | extractDataSeries | applyFilter:summary.filter | convertUnits:unit.factor | sigFigs:3}} {{unit.suffix}}
                </div>

            </md-card-content>

        </md-card>

    </div>

    <div layout-xs="column" layout="row">
        
        <md-card ng-repeat="unit in headline.quantities.variableUnitSummaries" flex-gt-xs>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{unit.name}}</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>

                
                    {{headline.meta().unit.prefix}} {{headline.data() | extractDataSeries | applyFilter:unit.filter | sigFigs:3}} {{headline.meta().unit.suffix}}
                

            </md-card-content>

        </md-card>

    </div>

</md-content>
